.progress-bar {
    position: relative;
    margin-top: 10px;
    width: 95%;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9999px;
    overflow: hidden;
}

.progress-interval {
    position: absolute;
    height: 100%;
}

.thin {
    top: 37.5%;
    height: 25%;
}
